<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>Ideas.md</key>
			<dict>
				<key>lastModification</key>
				<real>525011461.086689</real>
				<key>version</key>
				<dict>
					<key>14b046770282556cae5f229e06fef40c63eacce1c93b66c6533574f6c8f979e5</key>
					<integer>5</integer>
				</dict>
			</dict>
			<key>README.md</key>
			<dict>
				<key>lastModification</key>
				<real>525010864.18217599</real>
				<key>version</key>
				<dict>
					<key>14b046770282556cae5f229e06fef40c63eacce1c93b66c6533574f6c8f979e5</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>README.md</string>
		</array>
		<array>
			<string>Ideas.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>14b046770282556cae5f229e06fef40c63eacce1c93b66c6533574f6c8f979e5</key>
			<integer>6</integer>
		</dict>
	</dict>
</dict>
</plist>
